:root {
  --primary-color: #835afd;
  --secondary-color: #e559f9;
  --text-color: #29292e;
  --sec-text-color: #737380;
  --light-background-color: #f8f8f8;
  --dark-background-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  color: var(--text-color);
}

body,
input,
button,
textarea {
  font: 400 16px 'Roboto', sans-serif;
}
